body {
    overflow: hidden;
}

.row {
    display: flex;
    height: 100vh;
    width: 300vw;
}

.cell {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

#cell-1 {
    background: blue;
}

#cell-2 {
    background: red;
}

#cell-3 {
    background: green;
}

#cell-4 {
    background: yellow;
}

#cell-5 {
    background: purple;
}

#cell-6 {
    background: pink;
}

#cell-7 {
    background: grey;
}

#cell-8 {
    background: cyan;
}

#cell-9 {
    background: orange;
}